<div class="container text-center my-5">
    <h1 class="mb-4">Welcome to 2024 !!!</h1>
    <p class="lead mb-5">I'm Guddu welcoming you all to experience the world which I have created ....</p>
    <div class="row">
      <div class="col-md-4">
        <button class="btn btn-primary btn-lg btn-block" routerLink="/blog">Blog</button>
      </div>
      <div class="col-md-4">
        <button class="btn btn-success btn-lg btn-block" routerLink="/ml">ML Models</button>
      </div>
      <div class="col-md-4">
        <button class="btn btn-danger btn-lg btn-block" routerLink="/fun-zone">Fun Zone</button>
      </div>
    </div>
</div>
  

