<footer class="footer bg-dark text-white py-4">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6">
        <a class="navbar-brand text-white" href="#">
          <img src="assets/fab_currency.png" width="30" height="30" class="d-inline-block align-top" alt="logo">
          GameON
        </a>
      </div>
      <div class="col-md-6 text-right">
        <a class="nav-link text-white d-inline-block" routerLink="/feedback">Feedback</a>
        <a class="nav-link text-white d-inline-block" routerLink="/contact-us">Contact Us</a>
        <div class="mt-2 social-icons">
          <a class="text-white" href="https://x.com/Contact_Guddu" target="_blank">
            <img src="assets/X_logo.png" width="30" height="30" class="d-inline-block align-top" alt="X logo">
          </a>
          <a class="text-white" href="https://www.linkedin.com/in/guddu-kumar-85ba98173/" target="_blank">
            <i class="fab fa-linkedin fa-2x"></i>
          </a>
          <a class="text-white" href="https://www.instagram.com/contact_guddu/" target="_blank">
            <i class="fab fa-instagram fa-2x"></i>
          </a>
        </div>
      </div>
    </div>
    <hr class="bg-white">
    <div class="row">
      <div class="col-12 text-center">
        <p>&copy; 2024 GameON. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
