<footer class="footer bg-dark text-white">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6">
          <a class="navbar-brand text-white" href="#">
            <img src="assets/fab_currency.png" width="30" height="30" class="d-inline-block align-top" alt="logo">
            GameON
          </a>
        </div>
        <div class="col-md-6 text-right">
          <a class="nav-link text-white d-inline-block" href="#">Feedback</a>
        </div>
      </div>
      <hr class="bg-white">
      <div class="row">
        <div class="col-12 text-center">
          <p>&copy; 2024 GameON. All rights reserved.</p>
        </div>
      </div>
    </div>
  </footer>
  