.footer {
    padding: 20px 0;
  }
  
  .footer .navbar-brand img {
    margin-right: 10px;
  }
  
  .footer .nav-link {
    color: #ffffff;
    text-decoration: none;
  }
  
  .footer .nav-link:hover {
    text-decoration: underline;
  }
  
  .footer hr {
    margin: 10px 0;
    border-top: 1px solid #ffffff;
  }
  
  .footer p {
    margin: 0;
    font-size: 14px;
    color: #d3d3d3;
  }
  

  .social-icons a {
    margin-left: 8px;
    margin-right: 8px;
  }
  
  .social-icons a:first-child {
    margin-left: 0;
  }
  
  .social-icons a:last-child {
    margin-right: 0;
  }
  