<div class="container mt-4">
  <h2 class="text-center">{{ tripName }}</h2>
  <div *ngFor="let detail of selectedTripDetail" class="mb-5 visiting-place">
    <h3 class="text-center">{{ detail.title }}</h3>
    <div class="row justify-content-center">
      <div class="col-md-8">
        <carousel>
          <ng-container *ngIf="detail.images && detail.images.length > 0; else noImage">
            <slide *ngFor="let image of detail.images">
              <img [src]="image" class="d-block fixed-size" alt="{{ detail.title }}">
            </slide>
          </ng-container>
          <ng-template #noImage>
            <div class="no-image">No image available</div>
          </ng-template>
        </carousel>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-12">
        <!-- <p>{{ detail.description }}</p> -->
        <div [innerHTML]="detail.description | lineBreak"></div>


      </div>
    </div>
  </div>
  <div class="text-center">
    <button class="btn btn-secondary mt-3 button-margin" (click)="goBack()">Back to Trips</button>
  </div>
</div>
