<div class="container about-us-container">
    
      <div class="card-header">
        <h2 class="heading">About Me</h2>
      </div>
      <div class="card-body">
        <p>
          I'm Guddu Kumar, a passionate Software Engineer with a B.Tech in Computer Science
           Engineering from the <b>National Institute of Technology Jamshedpur</b>, graduated in 2024. 
           My academic journey was enhanced by hands-on experience through two internships at GE Healthcare, 
           where I gained invaluable industry insights during two-month and six-month stints.
          </p>
          <p>
            Currently, I am a Software Engineer at <b>GE Healthcare</b>, navigating the exciting and challenging 
            landscape of the tech world. During my college years, I developed couple of machine learning models as semester projects.
            One of my proudest achievements was collaborating with the <b>Jharkhand Police</b> to
             develop an Android application called CPMS (Court Process Management System), 
             which has greatly streamlined court processes for them.
          </p>
         
          <p>
            I invite you to explore my website to learn more about my projects, experiences,
            and professional journey. Thank you for visiting!
          </p>
        <h4 class="heading">Technical Skills</h4>
        <ul class="list-group">
            <li class="list-group-item"><b>Programming Languages:</b> JAVA | PYTHON</li>
            <li class="list-group-item"><b>Skills:</b> Data Structures and Algorithms | Android Development | Web Development | Machine Learning</li>
            <li class="list-group-item"><b>Web Technologies:</b> Angular | Spring Boot | XML | API Calling</li>
            <li class="list-group-item"><b>Databases:</b> MySQL | Google Firebase</li>
            <li class="list-group-item"><b>Tools:</b> Git | Github | Android Studio | Postman | Google Colab</li>
          </ul>
        <h4 class="heading">Hobbies</h4>
        <ul class="list-group list-group-horizontal">
            <li class="list-group-item d-flex align-items-center"><i class="fas fa-book"></i>&nbsp;Reading Shayari & Poem</li>
            <li class="list-group-item d-flex align-items-center"><i class="fa-solid fa-person-swimming"></i>&nbsp;Swimming</li>
            <li class="list-group-item d-flex align-items-center"><img src="assets/about-us/bgmi.png" class="hobby-icon">&nbsp;BGMI</li>
            <!-- <li class="list-group-item d-flex align-items-center"><img src="assets/about-us/moterbike.png" class="hobby-icon">&nbsp;Bike Ride</li> -->
            <li class="list-group-item d-flex align-items-center"><i class="fa-solid fa-location-dot"></i>&nbsp;Travelling</li>
          </ul>
        <button class="btn btn-primary mt-3" (click)="openCV()">Download CV</button>
      </div>
    
  </div>
  